.alert-demo {
    background-color: #ff6161;
    color: white;
    padding: 10px 20px;
    font-weight: 700;

    button {
        color: white;
        border: 1px solid;
        margin-left: 20px;
    }
}

.alert-claim-sale-order {
    background-color: #ff6161;
    color: white;
    padding: 10px 20px;
    font-weight: 700;
}
